/*OVERAL STRUCTURE*/


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    width: 100%;
}

.header,
.footer,
.block-1 {
    background-color: #1F2937;
    color: white;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-left: 15%;
    padding-right: 15%;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}


/*BLOCK 1*/

.block-container {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
}

.block-1 {
    justify-content: center;
    align-items: center;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/*BLOCK 2*/
.block-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 30px;
}

.title {
    padding-top: 0;
    padding-bottom: 0;
}

.squares-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex: 1;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.square {
    border: 2px solid #3882f6;
    border-radius: 5px;
    height: 75px;
    width: 75px;
}

.square-bottom {
    display: flex;
    width: 85px;
}


.subtext {
    font-size: 8px;
    color: grey;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*BLOCK 3*/

.block-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 0;
    padding-bottom: 0;
}


.bottom-quote {
    padding-top: 5px;
    display: flex;
}

/*BLOCK 4*/

.block-4 {
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: center;
}

.blue-thing-container {
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.blue-thing {
    display: flex;
    background-color: #3882f6;
    min-height: 65px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
    flex-wrap: wrap;
}

.blue-thing-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    flex: 1;
    min-width: 250px;
}

.blue-thing-button {
    border: 1px solid white;
    margin-left: 12px;
}

.bottom-text {
    font-size: smaller;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*TYPES*/

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: #e5e7eb;

}

h1 {
    font-size: 32px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

h2 {
    font-size: 36 px;
    font-weight: bolder;
    color: #1f2937;
    line-height: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 800;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

#quote {
    font-size: 16px;
    font-weight: 50;
    font-style: italic;
    color: #1f2937;
}

small {
    font-size: 10px;
}

#caption {
    font-size: 12px;
    color: #1f2937;
    font-weight: 550;
    vertical-align: top;
}

button {
    background-color: #3882f6;
    padding: 1% 5%;
    border: none;
    border-radius: 5px;
    color: white;
}


img {
    display: block;
    width: 45%;
    min-width: 325px;
    max-height: 12%;
    margin: 0 auto;
}